<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
<div class="field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div class="field">
<%= f.text_area :body, class: "book_body" %>
<%= f.submit "Update Book" %>
<% end %>
</div>


<%= link_to 'Show', @book, class: "show_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>
